################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Koinoribot-plugins-for-Hoshino/v17/DocumentLayout.json
/.vs/Koinoribot-plugins-for-Hoshino/v17/.wsuo
/.vs/Koinoribot-plugins-for-Hoshino/FileContentIndex/5cdba1a0-6c14-4a31-a3b4-847ffef70abc.vsidx
/.vs/Koinoribot-plugins-for-Hoshino/CopilotIndices/17.13.439.2385/CodeChunks.db
/.vs/Koinoribot-plugins-for-Hoshino/CopilotIndices/17.13.439.2385/CodeChunks.db-shm
/.vs/Koinoribot-plugins-for-Hoshino/CopilotIndices/17.13.439.2385/CodeChunks.db-wal
/.vs/Koinoribot-plugins-for-Hoshino/CopilotIndices/17.13.439.2385/SemanticSymbols.db
/.vs/Koinoribot-plugins-for-Hoshino/CopilotIndices/17.13.439.2385/SemanticSymbols.db-shm
/.vs/Koinoribot-plugins-for-Hoshino/CopilotIndices/17.13.439.2385/SemanticSymbols.db-wal
/.vs/Koinoribot-plugins-for-Hoshino/FileContentIndex/247daf71-f1bc-4da7-b6b3-df8a9bf77f97.vsidx
/.vs/Koinoribot-plugins-for-Hoshino/FileContentIndex/ee2bfdde-9249-4224-97cd-569781a40e31.vsidx
/.vs/Koinoribot-plugins-for-Hoshino/FileContentIndex/ed234ffb-cf2b-4cd8-8da0-c92cea9d0c94.vsidx
/.vs/Koinoribot-plugins-for-Hoshino/FileContentIndex/e9c2372f-60f5-4db2-a615-e46440f1bb1d.vsidx
/.vs/Koinoribot-plugins-for-Hoshino/FileContentIndex/680237bf-b2ae-4b36-9b4c-15358179b015.vsidx
/.vs/Koinoribot-plugins-for-Hoshino/FileContentIndex/4d3ab468-5d59-440c-a148-4d8f5fff8ec4.vsidx
/.vs/Koinoribot-plugins-for-Hoshino/FileContentIndex/721cd7de-c7e9-4613-9f66-958349ec92de.vsidx
